@model BandsApp.Web.Models.Band
<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        <h2>@Model.Name</h2>
        <img src="/Img/@Model.ImageUrl" alt="@Model.Name" />
        <p>@Model.Description</p>
        <p><a href="/"><- Tillbaka</a></p>
    </body>
    </html>